v\:group,v\:rect,v\:imagedata,v\:oval,v\:line,v\:polyline,v\:stroke,v\:textbox { display:inline-block;background:transparent }
::-ms-clear,::-ms-reveal{display:none;}
.HccFlow{
	background:#f1f1f1;border:#ddd 1px solid;
	-moz-user-select:none;-webkit-user-select:none;border-radius:4px;color:#333
}
.HccFlow,.HccFlow *{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	font-size:14px;line-height:1.42857143;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, sans-serif;
}
.HccFlow:before,.HccFlow:after,.HccFlow *:before,.HccFlow *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.HccFlow i{
	display:block;width:18px;height:18px;overflow:hidden;font-size:16px;color:#777;text-align:center;
	filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;text-shadow:0.5px 0 #fff,0 0.5px #fff;
}
.HccFlow_head{clear:both;height:28px;border-bottom:#00B4E1 2px solid;margin-left:-1px}
.HccFlow_head label{
	font-weight:bold;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:27px;padding:3px;width:176px;
	background:#1AA094;float:left;color:#fff;border-radius:3px 0 0 0;overflow:hidden;margin:-1px 4px 0 0;text-align:center;
}
.HccFlow_head_btn{display:block;border:0;height:26px;width:30px;cursor:default;padding:4px 6px;margin:0 2px;float:left;outline:none;blr:expression(this.onFocus=this.blur());text-decoration:none;cursor:pointer}
.HccFlow_head_btn i{display:inline-block;overflow:hidden;width:18px;height:18px;border:0;}
.HccFlow_head_btn:hover{background:#fff;padding:4px 5px;border-left:#ddd 1px solid;border-right:#ddd 1px solid}
.HccFlow_tool{float:left;clear:left;border-right:#ddd 1px solid}
.HccFlow_tool_div{width:34px;padding:5px 0}

.HccFlow_tool span{height:0;overflow:hidden;border-top:#ddd 1px solid;border-bottom:#fff 1px solid;margin:0 2px;clear:both;display:block;}
.HccFlow_tool_btn{display:block;border:0;height:34px;width:34px;cursor:default;padding:8px;outline:none;blr:expression(this.onFocus=this.blur());color:#777;text-decoration:none;cursor:pointer}
.HccFlow_tool_btn i{display:block;overflow:hidden;width:18px;height:18px;border:0}
.HccFlow_tool_btn:hover{border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;background:#fff;padding:7px 8px}
.HccFlow_tool_btndown{
	cursor:default;outline:none;blr:expression(this.onFocus=this.blur());height:34px;width:36px;margin:0 -1px;
	padding:8px 9px;background:#00B4E1;/*#FFBF00*/display:block;text-decoration:none;filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
}
.HccFlow_tool_btndown i{display:block;overflow:hidden;width:18px;height:18px;color:#000;filter:Alpha(Opacity=37);-moz-opacity:0.37;opacity: 0.37;position:relative}

.HccFlow_work{float:right;margin:0 3px 3px 0;position:relative;overflow:auto;background-color:#fff;}
.HccFlow_work .HccFlow_work_inner{
	background:url(img/hccflow_blank.gif)\0;
	background: -webkit-linear-gradient(top, transparent 11px, #e3e3e3 12px),-webkit-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: -moz-linear-gradient(top, transparent 11px, #e3e3e3 12px),-moz-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: -o-linear-gradient(top, transparent 11px, #e3e3e3 12px),-o-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: -ms-linear-gradient(top, transparent 11px, #e3e3e3 12px),-ms-linear-gradient(left, transparent 11px, #e3e3e3 12px);
    background: linear-gradient(top, transparent 11px, #e3e3e3 12px),linear-gradient(left, transparent 11px, #e3e3e3 12px);
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    background-size: 12px 12px;
	position:relative;overflow:hidden;
}
.HccFlow_work text{color:#fff;font-size:14px;line-height:1.42857143;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, sans-serif;}

.Gooflow_extend_right{position:absolute;z-index:10002;top:0;right:0;height:100%;width:14px;cursor:e-resize;filter:Alpha(Opacity=20);-moz-opacity:0.2;opacity: 0.2}
.Gooflow_extend_bottom{position:absolute;z-index:10002;bottom:0;left:0;width:100%;height:14px;cursor:s-resize;filter:Alpha(Opacity=20);-moz-opacity:0.2;opacity: 0.2}
.Gooflow_extend_right:hover{background-color:#999;border:#fff 1px solid}
.Gooflow_extend_bottom:hover{background-color:#999;border:#fff 1px solid}

.HccFlow_work_group{cursor:default;position:absolute;overflow:hidden;top:0;left:0}
.HccFlow_area{cursor:default;position:absolute;overflow:hidden;}
.HccFlow_area .lock{cursor:default;}
.HccFlow_area .bg{cursor:move;filter:Alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3;}
.HccFlow_area.lock .bg{cursor:default;}
.HccFlow_area label{cursor:text;top:2px;left:1px;position:absolute;display:block;font-size:12px;text-indent:22px;height:18px;line-height:18px}
.HccFlow_area.lock label{cursor:default;}
.HccFlow_area i{top:2px;left:2px;width:18px;height:18px;position:absolute;cursor:pointer;}
.HccFlow_area i:before{content:"\e6bd"}
.HccFlow_area.area_red .bg{border:1px solid red;background-color:#FF7865}
.HccFlow_area.area_red label,.HccFlow_area.area_red i{color:red;}
.HccFlow_area.area_yellow .bg{border:1px solid #CD925A;background-color:#FFD564}
.HccFlow_area.area_yellow label,.HccFlow_area.area_yellow i{color:#FFBA1D;}
.HccFlow_area.area_blue .bg{border:1px solid #347BB1;background-color:#549CDE}
.HccFlow_area.area_blue label,.HccFlow_area.area_blue i{color:#347BB1;}
.HccFlow_area.area_green .bg{border:1px solid green;background-color:#84CA04}
.HccFlow_area.area_green label,.HccFlow_area.area_green i{color:green;}

.HccFlow_work svg{display:block;position:absolute;top:0;left:0}
.HccFlow_work v\:group{position:relative;display:block}
.HccFlow_work v\:group v\:line{overflow:visible}
.HccFlow_work v\:group v\:polyline{overflow:visible}
.HccFlow_work v\:group div{cursor:text;position:absolute;overflow:visible;display:inline;float:left;white-space: nowrap}
.HccFlow_work .draw{color:#ff8800}

.HccFlow_item{
	position:absolute;background:#A1DCEB;padding:1px;
	border-radius:3px;background-color:#C1DCFC;box-shadow:1px 1px 2px rgba(99,99,99,2);
}
.HccFlow table{padding:1px 2px;border-radius:2px}
.HccFlow td{ vertical-align:middle;text-align:center;padding:0;cursor:default;word-wrap:break-word;word-break:break-all}
.HccFlow .ico{width:18px;cursor:move}
.HccFlow .ico i{filter:Alpha(Opacity=30);-moz-opacity:0.3;opacity:0.3;color:#000;}

.HccFlow .item_round{border-radius:13px;padding:1px;width:26px;height:26px; overflow:visible}
.HccFlow .item_round table{border:0;padding:3px;width:26px;height:26px}
.HccFlow .item_round .span{
	display:block;text-align:center; position:absolute;top:26px;left:-28px;width:80px;overflow:visible;text-align:center;
	padding:0;cursor:default;word-wrap: break-word;word-break:break-all
}

.HccFlow .item_mix{background:#B6F700;color:#fff}
.HccFlow .item_max{background:#ff0000;color:#fff}
.HccFlow div .rs_right{overflow:hidden;position:absolute;right:-1px;top:-1px;height:100%;width:6px;cursor:w-resize}
.HccFlow div .rs_bottom{overflow:hidden;position:absolute;left:-1px;bottom:-1px;width:100%;height:6px;cursor:n-resize}
.HccFlow div .rs_rb{
	position:absolute;right:-1px;bottom:0;width:10px;height:9px;filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7;
	font-family:"iconflow" !important;font-size:12px;color:#475669;line-height:1;overflow:hidden;cursor:pointer;cursor:nw-resize;
}
.HccFlow div .rs_rb:before{content:"\e6b7";}
.HccFlow div .rs_close{
	position:absolute;right:-1px;top:1px;width:10px;height:9px;filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7;
	font-family:"iconflow" !important;font-size:12px;color:#475669;line-height:1;overflow:hidden;cursor:pointer;
}
.HccFlow div .rs_close:before{content:"\e674";}
.HccFlow .rs_ghost{
	position:absolute;display:none;overflow:hidden;border:#8492A6 1px dashed; background:#E5E9F2;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10
}
.HccFlow .item_focus{border:#3892D3 1px solid !important;padding:0}
.HccFlow .item_focus table{margin:0 !important;}
.HccFlow .item_focus.item_round .span{
	display:block;text-align:center; position:absolute;top:25px;left:-29px;width:80px;overflow:visible;text-align:center;
	padding:0;cursor:default;word-wrap: break-word;word-break:break-all
}
.HccFlow .item_mark{border:#ff8800 2px solid;padding:0}
.HccFlow .item_mark table{margin:-1px}
.HccFlow .item_mark td{cursor:crosshair}

.HccFlow textarea{position:absolute;border:#3892D3 1px solid;display:none;overflow-y:visible;width:100px;z-index:10001}

.HccFlow .HccFlow_line_oper{
	width:82px;height:20px;background:#E5E9F2;border:#8492A6 1px solid;position:absolute;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10000;
}

.HccFlow .HccFlow_line_mp{
	width:9px;height:9px;filter:Alpha(Opacity=40);-moz-opacity:0.4;opacity:0.4;overflow:hidden;
	position:absolute;z-index:9999;background:#333;cursor:crosshair
}

.HccFlow_linemove{background-color:transparent;filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5;overflow:hidden;position:absolute;z-index:9999;}
.HccFlow_line_oper i{display:inline-block;margin-left:2px;cursor:pointer;position:relative;}
.HccFlow .b_l1:before{content:"\e60d";color:#1F2D3D}
.HccFlow .b_l2:before{content:"\e60e";color:#1F2D3D}
.HccFlow .b_l3:before{content:"\e608";color:#1F2D3D}
.HccFlow .b_x:before{content:"\e61a";color:red}


/*以下为图标样式（固定大小18px*18px，矢量字体大小16px），用户可自定义扩展自己的新矢量图标字体，写法参照以下的内容*/
@font-face {font-family: "iconflow";
  src: url('fonts/iconflow.eot?t=1494321407539'); /* IE9*/
  src: url('fonts/iconflow.eot?t=1494321407539#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconflow.woff?t=1494321407539') format('woff'), /* chrome, firefox */
  url('fonts/iconflow.ttf?t=1494321407539') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconflow.svg?t=1494321407539#iconflow') format('svg'); /* iOS 4.1- */
}

.HccFlow_area i,.HccFlow .HccFlow_line_oper i,
.ico_cursor,.ico_start,.ico_end,.ico_fork,.ico_join,.ico_direct,.ico_group,
.ico_complex,.ico_node,.ico_task,.ico_chat,.ico_state,.ico_plug,.ico_menu,.ico_sound,
.ico_open,.ico_new,.ico_reload,.ico_save,.ico_undo,.ico_redo,.ico_print {
  font-family:"iconflow" !important;
  font-size:16px;line-height:19px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.HccFlow .ico_cursor:before{ content:"\e602"; }
.HccFlow .ico_start:before{ content:"\e700"; }
.HccFlow .ico_end:before{ content:"\e609"; }
.HccFlow .ico_fork:before{ content:"\e60c"; }
.HccFlow .ico_join:before{ content:"\e606"; }
.HccFlow .ico_direct:before{ content:"\e605"; }
.HccFlow .ico_group:before{ content:"\e663"; }
.HccFlow .ico_complex:before{ content:"\e872"; }
.HccFlow .ico_node:before{ content:"\e678"; }
.HccFlow .ico_task:before{ content:"\e6af"; }
.HccFlow .ico_chat:before{ content:"\e61b"; }
.HccFlow .ico_state:before{ content:"\e633"; }
.HccFlow .ico_plug:before{ content:"\e66c"; }
.HccFlow .ico_menu:before{ content:"\e649"; }
.HccFlow .ico_sound:before{ content:"\e62b"; }


/*以下是内部用头部工具栏的样式*/
.HccFlow .ico_open:before{ content:"\e7a0";color:#FFD300 }
.HccFlow .ico_new:before{ content:"\e659"; }
.HccFlow .ico_reload:before{ content:"\e607";color:#669900 }
.HccFlow .ico_save:before{ content:"\e63d";color:#0099cc }
.HccFlow .ico_undo:before{ content:"\e673";color:#ff8800 }
.HccFlow .ico_redo:before{ content:"\e672";color:#ff8800 }
.HccFlow .ico_print:before{ content:"\e671"; }