fieldset {
	padding: 20px 0px 20px 20px;
}

.col-md-10, .col-md-2 {
	float: left;
}

.col-md-2 {
	width: 140px;
}

.col-md-10 {
	width: 500px;
}

select.input-sm {
	width: 130px;
}

.col-md-12 {
	width: 660px;
}

.btn-primary {
	margin-right: 10px;
}